<plugin resizable="true">
	<grid rows="1" cols="3" spacing="4">
	
	<!-- Row 1 -->
	<cell cols="1">
		<group text="TODO Pre EQ" >
			<grid rows="3">
				<knob id="gp_0" />
				<knob id="gp_1" />
				<knob id="gp_2" />
			</grid>
		</group>
	</cell>
	
	<cell cols="1">
		<group text="TODO Saturator" >
			<grid rows="16">
			<combo id="ov" />
				<knob id="ge" />
				<knob id="gt" />
				<combo id="sp" />
				
				<knob id="sl" visibility="(:sp ieq 0)" />
				<knob id="sh" visibility="(:sp ieq 1) or (:sp ieq 2) or (:sp ieq 3) or (:sp ieq 4) or (:sp ieq 5) or (:sp ieq 9) "/>
				<knob id="hl" visibility="(:sp ieq 6) or (:sp ieq 7)" />
				<knob id="ll" visibility="(:sp ieq 6) or (:sp ieq 7)" />
				<knob id="rd" visibility="(:sp ieq 8)" />
				<knob id="lv" visibility="(:sp ieq 10) or (:sp ieq 11) or (:sp ieq 12)" />
				<knob id="cp" visibility="(:sp ieq 13) or (:sp ieq 14) or (:sp ieq 15) or (:sp ieq 16)" />
				<knob id="qp" visibility="(:sp ieq 17) or (:sp ieq 18) or (:sp ieq 19) or (:sp ieq 20)" />
				<knob id="bs" visibility="(:sp ieq 19) or (:sp ieq 20)" />
				<knob id="bl" visibility="(:sp ieq 21)" />
				<knob id="dv" visibility="(:sp ieq 21)" />
			</grid>
		</group>
	</cell>
	
	<cell cols="1">
		<group text="TODO Post EQ" >
			<grid rows="3">
				<knob id="gs_0" />
				<knob id="gs_1" />
				<knob id="gs_2" />
			</grid>
		</group>
	</cell>
	
	</grid>
</plugin>